/* Author: Bella Ranches
File Name: styles.css
Date: 10/16/25
*/

body, header, nav, main, footer, img, h1, ul {
	margin: 0;
	padding: 0;
	border: 0;
}

img {
	max-width: 100%;
	display: block;
}

.round {
	border-radius: 8px;
}

body {
    height: 100%; /*for the hero image*/
    font-family: "Lora", serif;
    margin: 10px;
    padding: 10px;
    background-color: rgb(224,247,250);
    color: #033649;
    font-size: 18px;
}

/* The hero image COPIED FROM W3Schools*/
.hero-image {
  /* Set a specific height */
  height: 50vh;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Place text in the middle of the image */
.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.hero-image {
  height: 50vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.hero-assignments {
  background-image:
    linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../images/sharkshero.jpg");
}

.hero-budget {
  background-image:
    linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../images/whalehero.jpg");
}

.hero-classschedule {
  background-image:
    linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../images/turtleshero.jpg");
}

.hero-index {
  background-image:
    linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../images/dolphinhero.jpg");
}

.hero-notes {
  background-image:
    linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../images/otterhero.jpg");
}


header {
    text-align: center;
    padding: 25px 0;
    background-color: rgb(64,181,173);
    color: black;
}

header h1 {
    margin: 25px;
    font-size: 32px;
}

nav ul {
    margin: 20px;
    padding: 10 px;
    list-style-type: none;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    margin: 20px;
}

nav a {
    color: black;
    text-decoration: none;
    font-weight: 600;
}

main {
    text-align: center;
    padding: 10px;
}

/*
DO NOT THINK I AM USING THIS ANYMORE -> HERO BANNER   
.intro {
    background-color: rgb(166,245,142);
    max-width: 700px;
    margin: 20;
    padding: 20px;
} 

.intro h2 {
    color: rgb(74,163,47);
    font-size: 30px;
}

.intro p {
    font-size: 20px;
}
  */

/*for my budget.html form*/
fieldset {
    margin-bottom: 2%;
}

input {
    margin-bottom: 2%;
}

fieldset legend {
    font-weight: bold;
    font-size: 20px;
}

label {
    display: block;
    padding-top: 3%;
    font-size: 18px;
}

/* class schedule table classchedule.html*/
.table {
    width: 100%;
    margin: 20px auto;
    border: 3px solid #00008b; 
    background-color: rgb(225,247,250);
}

.table caption {
    font-size: 20px;
    margin-bottom: 10px;
    padding: 2%;
    color: #033649;
}

.table th {
  border: 1px solid rgb(9,84 ,143);
  border-collapse: collapse;
  padding: 2%;
  text-align: center;
  background-color: rgb(30, 155, 172);
}
.table td {
    border: 1px solid rgb(9,84 ,143);
    border-collapse: collapse;
    padding: 2%;
    text-align: center;
}

.table tr:nth-child(odd) {
    background-color: rgb(193,230,247);
}

/*notes font*/
.notes {
  font-size: 20px;
}

.tinyimg {
  max-width: 300px;  
}
footer {
    text-align: center;
    background-color: rgb(12,156,196);
    color: white;
    padding: 10px;
    font-size: 10px;
}

/*
no longer using now using table for classschedule.html
.uhhiloschedule {
    background-color: rgb(193,230,247);
    padding: 10px;
}

.uhhiloschedule h3 {
  margin: 20px;
  color: rgb(9,84,143);
}

.uhhiloschedule ul {
  padding-left: 20px;
  text-align: center;
}

.uhhiloschedule ul li {
  margin: 20px;
  font-size: 18px;
}
*/
.weekbudget {
 background-color: rgb(246,215,176);
 padding: 10px;

}

.weekbudget h3 {
    margin: 20px;
    color: rgb(101,67,33);

}

.weekbudget ul {
    list-style: none;
    padding-left: 0;
    text-align: center;    
}

.weekbudget ul li {
    font-size: 20px;
    margin: 0;
}

@media screen and (max-width: 600px) {
header h1 {
    font-size: 25px;
    margin: 20px;
}

nav ul {
    list-style-type: none;
    padding: 0;
  }
  
nav ul li {
    list-style-type: none;
    display: block;
    margin: 0;
}

main {
    padding: 5px;
  }

  .table {
    font-size: 14px;
  }
}
