/* Author: Bella Ranches
File Name: styles.css
Date: 10/16/25
*/

/*reset*/
body, header, nav, main, footer, img, h1, h3, ul, aside, figure, figcaption {
    margin: 0;
    padding: 0;
    border: 0;
}

img {
    max-width: 100%;
    display: block;
}

.round {
    border-radius: 8px;
}

body {
    height: 100%;
    font-family: "Lora", serif;
    margin: 10px;
    padding: 10px;
    background-color: rgb(224,247,250);
    color: #033649;
    font-size: 18px;
}

/* hero banner mages */
/*copied from W3Schools with slight modifications to fit my project*/
.hero-image {
    height: 50vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.hero-assignments {
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../images/sharkshero.jpg");
}
.hero-budget {
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../images/whalehero.jpg");
}
.hero-classschedule {
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../images/turtleshero.jpg");
}
.hero-index {
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../images/dolphinhero.jpg");
}
.hero-notes {
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../images/otterhero.jpg");
}

/* desktop header */
header {
    text-align: center;
    padding: 25px 0;
    background-color: rgb(64,181,173);
    color: black;
}
header h1 {
    margin: 25px;
    font-size: 32px;
}
header h2 {
    font-size: 20px;
}
header h3 {
    font-size: 18px;
}

/* skip link for accessibility */
.skip {
    position: absolute;
    left: -999px;
}
.skip:focus {
    color: #fff;
    background-color: #2a1f14;
    text-decoration: none;
    padding: 0.5%;
    top: auto;
    left: auto;
    right: 1px;
    z-index: 1;
}

/* desktop nav */
nav {
    text-align: center;
}
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 20px 0;
}
nav ul li {
    display: inline-block;
}
nav a {
    color: black;
    text-decoration: none;
    font-weight: 600;
}

/* mobile nav */
.mobile-nav {
    display: none;
    text-align: center;
    background-color: rgb(64,181,173);
    padding: 10px 0;
}
.mobile-nav button.hamburger {
    background: none;
    border: none;
    font-size: 28px;
    margin: 0 auto;
    display: block;
}
.mobile-nav .mobile-links {
    display: none;
    background-color: rgb(64,181,173);
}
.mobile-nav .mobile-links a {
    display: block;
    padding: 10px;
    color: white;
    text-decoration: none;
    font-size: 18px;
}

/* mobile view */
.mobile {
    display: block;
}
.tab-desk,
.desktop,
#nav-links {
    display: none;
}
.mobile h1,
.mobile h3 {
    padding: 2%;
    text-align: center;
}


main {
    text-align: center;
    padding: 10px;
}
main p {
    font-size: 1.25em;
}
main h3 {
    padding-top: 2%;
}
main ul {
    list-style-type: square;
}

/*form in budget.html*/
fieldset {
    margin-bottom: 2%;
}
input {
    margin-bottom: 2%;
}
fieldset legend {
    font-size: 18px;
}
label {
    display: block;
    padding-top: 1%;
    font-size: 18px;
}
.weekbudget {
    background-color: rgb(182, 210, 245);
    padding: 0px;
}
.weekbudget h3 {
    margin: 20px;
    color: #033649;
}
.weekbudget ul {
    list-style: none;
    padding-left: 0;
    text-align: center;
}
.weekbudget ul li {
    font-size: 20px;
    margin: 0;
}

/*tables in assignents.html and classschedule.html */
.table {
    width: 100%;
    margin: 20px auto;
    border: 3px solid #00008b;
    background-color: rgb(225,247,250);
}
.table caption {
    font-size: 20px;
    margin-bottom: 10px;
    padding: 2%;
    color: #033649;
}
.table th {
    border: 1px solid rgb(9,84,143);
    border-collapse: collapse;
    padding: 2%;
    text-align: center;
    background-color: rgb(30, 155, 172);
}
.table td {
    border: 1px solid rgb(9,84,143);
    border-collapse: collapse;
    padding: 2%;
    text-align: center;
}
.table tr:nth-child(odd) {
    background-color: rgb(193,230,247);
}

/*notes.html*/
.notes {
    font-size: 20px;
}
.tinyimg {
    max-width: 300px;
}

footer {
    text-align: center;
    background-color: rgb(12,156,196);
    color: white;
    padding: 10px;
    font-size: 10px;
}

.social img {
  display: inline-block;
  padding: 4%;
}


/* Media Queries */
@media screen and (max-width: 600px) {
    nav ul {
        display: none;
    }
    .mobile-nav {
        display: block;
    }
    header h1 {
        font-size: 25px;
        margin: 18px;
    }
    header h2 {
        font-size: 16px;
    }
    header h3 {
        font-size: 15px;
    }
    main {
        padding: 5px;
    }
    .table {
        font-size: 14px;
    }
}

